body{
    background-color:#10102d;
    color:#ffffff;
    font-style:"Times New Roman";
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
  }
  
  #header{
    text-align:center;
    position:relative;
    top:50px;
    max-width:300px;
    width:50%;
    margin:0 auto;
  }
  
  #container{
    background-color:#5D5D5D;
    border:2px solid #ffffff;
    text-align:center;
    max-width:600px;
    width:50%;
    margin:0 auto;
    box-sizing: border-box;
    position:relative;
    top:75px;
  }
  
  #number{
    font-size:18px;
    padding:5px;
    background-color:#03051B;
    color:#ffffff;
    max-width:300px;
    box-sizing: border-box;
    width:80%;
  }
  
  #number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  #convert-btn {
      background-color: #FFC00B;
      border-radius: 6px;
      box-sizing: border-box;
      max-width:300px;
      width:80%;
      color: #000000;
      cursor: pointer;
      font-size: 18px;
      padding: 10px 15px;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      margin-top:15px;
      margin-bottom:20px;
    }
    
  #convert-btn:hover {
      background-color: #d79f00;
      text-decoration: none;
      transition-duration: 0.1s;
    }
  
  #output{
    background-color:#5D5D5D;
    border:2px solid #ffffff;
    text-align:center;
    box-sizing:border-box;
    font-size:18px;
    max-width:600px;
    width:50%;
    height:65px;
    margin:0 auto;
    padding:10px 15px;
    box-sizing: border-box;
    position:relative;
    top:100px;
    font-weight:bold;
  }